*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #0d1117;
}
html{
    scroll-padding-top: 80px; /* ajusta de acordo com a altura do seu header */
    scroll-behavior: smooth;
}
h2, span{
    color: #3b82f6;
}
.nav{
    background-color: #0f172a;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 9;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}
.nav-list a:hover{
    color: #fff;
}
.hamburger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.main{
    width: 100%;
    background-color: black;
    min-height: calc(100vh - 80px);
    height: auto;
    background-image: url("images/programador.png");
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
    
}
.main h1{
    color: #fff;
    font-size: 54px;
}
.main p{
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 10px;
    margin-bottom: 35px;
}
.call-to-action{
    cursor: pointer;
    background-color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}
.call-to-action:hover{
    transform: scale(1.1);
}
.main a{
    text-decoration: none;
    color: #181811;
}
.about{
background-color: #fff;
width: 100%;
padding-left: 10%;
padding-right: 10%;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
align-items: center;
justify-content: space-between;
}
.about p{
    text-align: justify;
    font-size: 17px;
    line-height:32px;
    font-weight:400;
}
.about div {
    max-width: 50%;
    padding-right: 40px;
}
.about img{
    max-width: 450px;
    border-radius: 8px;
}
.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}
.projects h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}
.projects p{
    color: #ddd;
    margin-bottom: 40px;
    font-style: italic;
}
.project-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
/* .projects img{
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 0.8;
    transition: 0.9s;
} */

.projects img:hover{
    opacity: 1;
}
.project-card {
    position: relative;
    width: 30%;
    margin: 0.5% 0.5%;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: 250px;
    /* object-fit: calc(200px); */
    opacity: 0.8;
    transition: 0.6s;
}

.project-card:hover img {
    filter: blur(4px) brightness(40%);
    opacity: 1;
    transform: scale(1.05);
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    width: 80%;
    pointer-events: none;

}

.project-card:hover .project-info {
    opacity: 1;
    pointer-events: all;
}

.project-info h3 {
    margin-bottom: 6px;
    font-size: 20px;
}

.project-info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.project-info a {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background: #1e96fc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}
.action{
    background-color: #181811;
    border: 0;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-top: 18px;
    cursor: pointer;
}
footer{
    width: 100%;
    height:300px;
    background-color: #0f172a;
    padding: 80px 0px;
    color: #fff;
    text-align: center;
}
footer h2{
    font-size: 32px;
    margin-bottom: 20px;
}
footer .contatos{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .contatos .icones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    width: 220px;
    /* border: 1px solid white; */
}
footer .contatos .icones img, footer .contatos .icones p{
    margin: 8px 0px;
}
footer .icones p a{
    color: #1e96fc;
    text-decoration: none;
}
footer .icones p a:hover{
    color: #fff;
    transition: 0.9s;
}
footer .icones img{
    width: 64px;
}

#typing::after {
  content: "|";
  margin-left: 1px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}


@media(max-width:768px){
    .nav{
        justify-content: space-between;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        background: #0f172a;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
    }
    .nav-list a {
        padding: 15px;
        display: block;
        border-bottom: 2px solid #1e293b;
        font-size: 18px;
    }
       .hamburger {
        display: block;
    }

    /* MENU ABERTO */
    .nav-list.active {
        display: flex;
    }
    .about{
        flex-direction: column;
    }
    .about div{
        max-width: 100%;
    }
    .about div h2{
        text-align: center;
    }
    .about div p{
        text-align: justify;
    }
    .project-card img{
        height: 200px;
    }
}
@media(max-width:425px){
    .main{
        background-position: calc(100%);
    }
    .about div{
        padding: 0;
    }
    .about img{
        margin-top: 40px;
        width: 100%;
    }
    .project-card {
        width: 80%;
        margin-bottom: 3%;
}
footer .icones{
    width: 150px;
}
footer .icones img{
    width: 54px;
}
footer .icones p {
    font-size: 14px;
}
}
@media(max-width:375px){
    .nav-list a {
        font-size: 16px;
        padding: 10px;
    }
    .main h1{
        font-size: 34px;
    }
    .main p{
        font-size: 20px;
    }
    .main a button{
        width: 160px;
        padding: 10px;
        font-size: 16px;
    }
    .about img{
        margin-top: 14px;
        width: 100%;
    }
    .projects{
        padding: 30px 0px;
    }
    .project-list img{
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
       .projects h2, .about h2{
        margin-top:60px;
    }
    .projects p{
        margin-bottom: 20px;
    }
    .action{
        font-size: 14px;
    }
    footer h2{
        margin-bottom: 20px;
    }

}
@media(max-width:320px){
    .about{
        padding: 0;
    }
    .about div{
        max-width: 90%;
        padding: 0;
    }
    .about img{
        width: 80%;
    }
    footer .icones img{
        width: 44px;
    }
    footer .icones{
        height: 150px;
    }
    footer .icones p a{
         overflow-wrap: break-word;
         word-break: break-word;
    }
}